@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    color: var(--color3);
}

:root{
    --color1: #4ECDC4;
    --color2: #49ACA9;
    --color3: #364A55;
    --color4: #ffffff;
    --color5: #000000;
}

/* header */
header{
    height: 250px;
    color: var(--color4);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

header a{
    color: var(--color4);
    padding: 5px;
}

nav a:hover{
    background-color: #4ECDC440;
    border-radius: 10px;
}

header h1{
    font-size: 60px;
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
}

nav{
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 0;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

/* main */

main{
    width: 80%;
    margin: 0 auto;

}
main p{
    text-align: justify;
    font-size: 20px;
    padding: 10px 0;
    color: var(--color4);
}

h3{
    font-size: 35px;
}

input{
    padding-left: 80px;
    font-size: 30px;
    width: 70%;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

#name{
    background-image: url(images/user.png);
}

#email{
    background-image: url(images/email.png);
}

#website{
    background-image: url(images/link.png);
}

#timeline{
    background-image: url(images/date.png);
}

#budget{
    background-image: url(images/money.png);
}

#project{
    background-image: url(images/project.png);
}

#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    width: 40%;
}

#description h3{
    display: inline;
}

#description_area{
    height: 470px;
    width: 90%;
    border-radius: 10px;
    background-image: url(images/project-description.png);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    border: none;
    padding: 30px 0 0 80px;
    font-size: 20px;
    color: var(--color3);
}

#submit{
    padding-top: 20px;
    width: 100%;
    text-align: right;
}
input[type='submit']{
    width: 50%;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    color: var(--color3);
}

input[type='submit']:hover{
    background-color: #dbdbdb;
    color: black;
}

footer{
    background-color: var(--color3);
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

footer a{
    color: var(--color4);
    font-weight: bold;
    font-size: 30px;
}

footer img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    input{
        font-size: 20px;
        width: 80%;
    }

    nav{
        flex-direction: column;
    }

    header{
        height: 300px;
    }

    #description_area{
        width: 80%;
    }
    
    section{
        padding-top: 10px;
        width: 100%;
    }

    .info{
        flex-direction: column;
    }
    input[type='submit']{
        width: 50%;
        font-size: 15px;
    }

    #submit{
        text-align: center;
    }

    footer a{
        font-size: 20px ;
    }
}